@model CompanyDetailsViewModel

@{
    ViewBag.Title = Model.Name;
}

<h1 class="text-center">@ViewBag.Title</h1>

<div class="row justify-content-center">
    <div class="col-md-5">
        <p class="text-wrap">
            <b>Description</b>
            <br />
            @Model.Description
        </p>
        <p class="text-wrap">
            <b>Industry</b>
            <br />
            @Model.Industry
        </p>
    </div>
</div>

@if (Model.EmployerId == User.Id())
{
    <div class="row justify-content-md-center">
        <div class="col-md-1">
            <form class="text-center" asp-controller="Company" asp-action="Edit" method="get">
                <input type="hidden" name="@nameof(Model.Id)" value=@Model.Id />
                <button class="btn btn-warning" type="submit" role="button">Edit</button>
            </form>
        </div>
    </div>
}

<br />
<h2 class="text-center text-decoration-underline">Jobs</h2>
<br />

@if (Model.Jobs.Count() == 0)
{
    <h3 class="text-center">This company doesn't have any job offers currently...</h3>
}
else
{
    <div class="row">
        @foreach (var job in Model.Jobs)
        {
            <partial name="_JobPartial" model="@job" />
        }
    </div>
}

