@model JobDetailsViewModel
@inject IApplicationService applicationService

@{
    ViewBag.Title = Model.Title;
}

<h1 class="text-center">@ViewBag.Title</h1>

<p class="text-center">Description: @Model.Description</p>
<p class="text-center">Requirements: @Model.Requirements</p>

@if (Model.EmployerId == User.Id())
{
    <div class="row justify-content-md-center">
        <div class="col-md-1">
            <form class="text-center" asp-controller="Job" asp-action="Edit" method="get">
                <input type="hidden" name="@nameof(Model.Id)" value=@Model.Id />
                <button class="btn btn-warning" type="submit" role="button">Edit</button>
            </form>
        </div>
        <div class="col-md-1">
            <form class="text-center" asp-controller="Job" asp-action="Delete" method="get">
                <input type="hidden" name="@nameof(Model.Id)" value=@Model.Id />
                <button class="btn btn-danger" type="submit" role="button">Delete</button>
            </form>
        </div>
    </div>
}

@if (User.IsInRole(JobSeeker.ToString()))
{
    if (!(await applicationService.AppliedAlreadyAsync(User.Id(), Model.Id)))
    {
        <form class="text-center" asp-controller="Application" asp-action="Create" method="get">
            <input type="hidden" name="jobId" value=@Model.Id />
            <button class="btn btn-success" type="submit" role="button">Apply</button>
        </form>
    }
    else
    {
        <form class="text-center" asp-controller="Application" asp-action="Details" method="get">
            <input type="hidden" name="id" value=@await applicationService.GetApplicationIdAsync(User.Id(), Model.Id) />
            <p class="text-center text-warning">You've already applied for this job!</p>
            <button class="btn btn-warning" type="submit" role="button">See Application</button>
        </form>
    }
}